<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="Windows 1251"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ша-Блюз</title>

    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/style.css">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

</head>  
<body ng-app="shblues" ng-controller="mainController" ng-cloak>
    <!-- jQuery -->
    <script src="data/scripts/jquery-3.4.1.min.js"></script>

    <!-- SETTINGS -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- SETTINGS -->
    <script src="settings/videos.js"></script>
    <script src="settings/books.js"></script>
    <script src="settings/melodclamations.js"></script>
    <script src="settings/tracks.js"></script>
    <script src="settings/mashups.js"></script>
    <script src="settings/social-media.js"></script>
    <script src="settings/announcements.js"></script>
    <script src="settings/recomendations.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="data/scripts/angular-santize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
     <!-- Angular app file -->
    <script src="data/scripts/angular-app.js"></script>

    <!-- Amplitude lib file -->
    <script src="data/scripts/amplitude.min.js"></script>

    <!-- Controller file -->
    <script src="controllers/main.controller.js"></script>

     <!-- Amplitude font -->
     <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
    <!-- B-52 font -->
    <link href="http://allfont.ru/allfont.css?fonts=b52" rel="stylesheet" type="text/css" />
    <!-- Ubuntu font -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    
    <div class="top-menu" ng-show="showMenu && !showBigMenu" ng-click="toggleShowBigMenu()">
        <img class="menu-arrow" src="data/assets/images/menu-arrow.png" alt="menu arrow">
    </div>

    <div class="big-top-menu" ng-show="showBigMenu"> 
        <div class="top-disco-container">
            <div class="substract substract-internal substract-internal-left"></div>
            <div class="substract substract-internal substract-internal-right"></div>

            <div class="substract substract-external substract-external-left"></div>
            <div class="substract substract-external substract-external-right"></div>

            <div class="white-circle" ng-click="toggleShowBigMenu()">
                <img src="data/assets/images/menu-arrow.png" alt="menu arrow">
            </div>

            <img class="top-main-label" src="data/assets/images/top-sh-blues-label.png" alt="Ша-Блюз"> 

            <div class="menu-items-container">
                <div class="menu-item" ng-repeat="item in menu" ng-click="scrollToAnchor(item.anchorId,true)">
                    {{item.name}}  {{item.count != 0 ? '(' + item.count + ')' : ''}}
                </div>
            </div>

            <div class="anonses-recommended">
                <div class="rounded-notify" ng-click="showAnnouncements()">
                    <img src="data/assets/images/alert.png" alt="alert">
                    <div>Анонсы</div>
                </div>
                <div class="rounded-notify" ng-click="showRecomendations()">
                    <img src="data/assets/images/like.png" alt="alert">
                    <div>Рекомендации</div> 
                </div>
            </div>

        </div>
        <div class="top-disco-trimmer"></div>

    </div>

    <div class="menu-block">
        <div class="disco-container">
            <img class="disco-img" src="data/assets/images/disco.png" alt="Disco-Dingo Boogy-Woogy!">
        </div>
 
        <div class="menu-circle">
            <div class="circle-white-border"></div>
            <div class="circle-border-trimmer"></div>
            <div class="center-circle"></div>

            <div class="substract substract-internal substract-internal-left"></div>
            <div class="substract substract-internal substract-internal-right"></div>

            <div class="substract substract-external substract-external-left"></div>
            <div class="substract substract-external substract-external-right"></div>

            <img class="image-33-3" src="data/assets/images/33,3.png" alt="33,3"> 

            <img class="main-label" src="data/assets/images/sh-blues-label.png" alt="Ша-Блюз"> 
            <img class="heads-image" src="data/assets/images/heads.png" alt="Two beauty heads :)"> 

            <div class="menu-items-container">
                <div class="menu-item" ng-repeat="item in menu" ng-click="scrollToAnchor(item.anchorId)">
                    {{item.name}} {{item.count != 0 ? '(' + item.count + ')' : ''}}
                </div>
            </div>

            <div class="anonses-recommended">
                <div class="rounded-notify" ng-click="showAnnouncements()">
                    <img src="data/assets/images/alert.png" alt="alert">
                    <div>Анонсы</div>
                </div>
                <div class="rounded-notify" ng-click="showRecomendations()">
                    <img src="data/assets/images/like.png" alt="alert">
                    <div>Рекомендации</div> 
                </div>
            </div>

        </div>

        <div class="to-bottom-container" ng-click="scrollToAnchor('#videos')">
            <div class="to-bottom"></div>
            <div class="to-bottom"></div>
        </div>
        
        <div class="prickly-thing-wrapper">
            <div style="position: relative;">
                <img class="prickly-thing" src="data/assets/images/qw.png" alt="Штука с иголкой для пластинок">
            </div>
            
        </div>
        
    </div> 

    <div id="videos" class="video-block">
        <div class="video-header">
            <img class="video-background" src="data/assets/images/video-background.png" alt="Тут, короче, ленточка такая, как пленка, на которой раньше фильмы были.">
            <div>
                <h2>Видео</h2>
            </div>
        </div>

        <div class="video-content-wrapper">
            <div class="video-images-container">
                <img class="big-babina" src="data/assets/images/babina.png" alt="Бабина">
                <img class="left-video-lent" src="data/assets/images/long-lent.png" alt="Видеолента">
                <img class="video-photos" src="data/assets/images/photos.png" alt="Фотографии">
            </div>

            <div class="video-content">

                <div class="row">
                    <div class="col-3 video-content-row" ng-repeat="video in videos" ng-click="showVideo($index, video)">  
                        <div class="tooltipable video-item" data-tooltip="{{'video-' + $index}}">
                            <div class="video-item-image-wrapper">
                                <img src="{{video.src}}" alt="Mom, I'm in TV!">
                            </div>
                            <div class="user-tooltip" id="{{'video-' + $index}}">{{video.name}}</div>
                        </div> 
                    </div>
                    
                </div>

            </div>

            <div class="video-images-container">
                <img class="small-babina" src="data/assets/images/babina.png" alt="Бабина">
                <img class="right-video-lent" src="data/assets/images/long-lent.png" alt="Видеолента">
                <img class="camera" src="data/assets/images/camera.png" alt="Камера">
            </div>
        </div>

    </div>

    <div id="tracks" class="tracks">
        <div class="tracks-header">
            <img class="tracks-label" src="data/assets/images/tracks-label.png" alt="Ша-Блюз треки">
        </div>
        <div class="tracks-content-wrapper">

            <div class="tracks-images-container">
                <img class="donkey-image"       src="data/assets/images/donkey.png"            alt="Ослик">
                <img class="left-first-note"    src="data/assets/images/double-top-note.png"   alt="Первая нота">
                <img class="left-second-note"   src="data/assets/images/one-top-note.png"      alt="Вторая нота">
                <img class="left-third-note"    src="data/assets/images/left-third-note.png"   alt="Третья нота">
                <img class="left-fourth-note"   src="data/assets/images/left-fourth-note.png"  alt="Четвертая нота">
                <img class="left-fif-note"      src="data/assets/images/left-fif-note.png"     alt="Пятая нота">
                <img class="left-sixth-note"    src="data/assets/images/left-sixth-note.png"   alt="Шестая нота">
            </div>

            <div class="tracks-content">
                <div class="row">
                    <div class="col-6" ng-repeat="track in tracks" style="margin-bottom: 20px;">
                        <div class="audio-item" ng-class="track.active ? 'audio-item-active' : ''" ng-click="setActive(track)">
                            <div class="audio-item-content">
                                <span class="audio-item-header">{{track.name}}</span>
                                <span class="audio-item-description">{{track.description}}</span>
                            </div>
                            <div class="audio-item-play"></div>
                            <div class="audio-item-pause">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tracks-images-container">
                <img class="right-first-note"    src="data/assets/images/left-sixth-note.png"   alt="Первая нота">
                <img class="right-second-note"   src="data/assets/images/left-fourth-note.png"  alt="Вторая нота">
                <img class="right-third-note"    src="data/assets/images/left-fif-note.png"     alt="Третья нота">
                <img class="right-fourth-note"   src="data/assets/images/one-top-note.png"      alt="Четвертая нота">
                <img class="right-fif-note"      src="data/assets/images/left-third-note.png"   alt="Пятая нота">
                <img class="right-sixth-note"    src="data/assets/images/left-third-note.png"   alt="Шестая нота">
                <img class="right-seventh-note"  src="data/assets/images/one-top-note.png"      alt="Седьмая нота">
                <img class="right-eighth-note"   src="data/assets/images/double-top-note.png"   alt="Восьмая нота">
                <img class="croco-image"         src="data/assets/images/gena.png"              alt="Крокодил">
            </div>

        </div>
        
    </div>

    <div id="mashups" class="mashups">
        <div class="mashups-header">
            <img class="mashups-label" src="data/assets/images/mashups-label.png" alt="Мэшапы">
        </div>

        <div class="mashups-content">
            <div class="mashups-top">
                <div class="mashups-top-left-container">
                    <div class="mashups-top-row">
                        <div class="mashups-item" 
                        ng-repeat="mashup in mashups" 
                        ng-if="isMashupAllowed($index, 'top-first-row')" 
                        ng-click="setActive(mashup)"
                        ng-class="mashup.active ? 'active' : ''">
                            <div class="mashups-front">
                                <div class="mashups-item-image-wrapper">
                                    <img src="{{mashup.img}}" alt="tsoi">
                                </div>
                                <span class="mashups-description">{{mashup.name}}</span>
                                <span class="mashups-date">{{mashup.date}}</span> 
                                <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                            </div>
                            <div class="mashups-back">
                                <div class="mashups-description">{{mashup.description}}</div> 
                                <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                            </div> 
                        </div>
                    </div>
                    <div class="mashups-top-row">
                        <div class="mashups-item" 
                        ng-repeat="mashup in mashups" 
                        ng-if="isMashupAllowed($index, 'top-second-row')" 
                        ng-click="setActive(mashup)"
                        ng-class="mashup.active ? 'active' : ''">
                            <div class="mashups-front">
                                <div class="mashups-item-image-wrapper">
                                    <img src="{{mashup.img}}" alt="tsoi">
                                </div>
                                <span class="mashups-description">{{mashup.name}}</span>
                                <span class="mashups-date">{{mashup.date}}</span> 
                                <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                            </div>
                            <div class="mashups-back">
                                <div class="mashups-description">{{mashup.description}}</div> 
                                <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                            </div> 
                        </div>
                    </div>
                </div>
                
                <img class="surfer" src="data/assets/images/surfer.png" alt="Surfer">
            </div>

            <div class="mashups-center">
                <div class="mashups-item" 
                ng-repeat="mashup in mashups" 
                ng-if="isMashupAllowed($index, 'center')" 
                ng-click="setActive(mashup)"
                ng-class="mashup.active ? 'active' : ''">
                    <div class="mashups-front">
                        <div class="mashups-item-image-wrapper">
                            <img src="{{mashup.img}}" alt="tsoi">
                        </div>
                        <span class="mashups-description">{{mashup.name}}</span>
                        <span class="mashups-date">{{mashup.date}}</span> 
                        <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                    </div>
                    <div class="mashups-back">
                        <div class="mashups-description">{{mashup.description}}</div> 
                        <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                    </div> 
                </div>
            </div> 
            
            <div class="mashups-bottom">
                <img class="disk-eater" src="data/assets/images/disk-eater.png" alt="Поедатель дисков">
                <div class="mashups-item" 
                ng-repeat="mashup in mashups" 
                ng-if="isMashupAllowed($index, 'bottom')" 
                ng-click="setActive(mashup)"
                ng-class="mashup.active ? 'active' : ''">
                    <div class="mashups-front">
                        <div class="mashups-item-image-wrapper">
                            <img src="{{mashup.img}}" alt="tsoi">
                        </div>
                        <span class="mashups-description">{{mashup.name}}</span>
                        <span class="mashups-date">{{mashup.date}}</span> 
                        <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                    </div>
                    <div class="mashups-back">
                        <div class="mashups-description">{{mashup.description}}</div> 
                        <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                    </div> 
                </div>
            </div>

            <div class="mashups-center">
                <div class="mashups-item" 
                ng-repeat="mashup in mashups" 
                ng-if="isMashupAllowed($index, 'addictional')" 
                ng-click="setActive(mashup)"
                ng-class="mashup.active ? 'active' : ''">
                    <div class="mashups-front">
                        <div class="mashups-item-image-wrapper">
                            <img src="{{mashup.img}}" alt="tsoi">
                        </div>
                        <span class="mashups-description">{{mashup.name}}</span>
                        <span class="mashups-date">{{mashup.date}}</span> 
                        <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                    </div>
                    <div class="mashups-back">
                        <div class="mashups-description">{{mashup.description}}</div> 
                        <img class="mashups-item-image" src="data/assets/images/pause.png" alt="Пауза">
                    </div> 
                </div>
            </div> 
        </div>
    </div>

    <div id="melodclamations" class="melodclamations">
        <img class="melodclamations-label" src="data/assets/images/melodeclamations-label.png" alt="Мелодекламации">

        <div class="melodclamations-content">
            <div ng-class="melodclamations[0].active ? 'active' : ''" ng-click="setActive(melodclamations[0])" class="melodclamations-row">
                <div class="parallelogram"></div> 
                <div class="melodclamations-name">{{melodclamations[0].name}}</div>
                <div class="melodclamations-arrows-wrapper">
                    <img class="arrows" src="data/assets/images/arrows.png" alt="Стрелки">
                </div>
            </div>
            <div ng-class="melodclamations[1].active ? 'active' : ''" ng-click="setActive(melodclamations[1])" class="melodclamations-row">
                <div class="parallelogram"></div> 
                <div class="melodclamations-name">{{melodclamations[1].name}}</div>
                <div class="melodclamations-arrows-wrapper">
                    <img class="arrows" src="data/assets/images/arrows.png" alt="Стрелки">
                </div>
            </div>
            <div ng-class="melodclamations[2].active ? 'active' : ''" ng-click="setActive(melodclamations[2])" class="melodclamations-row">
                <div class="parallelogram"></div> 
                <div class="melodclamations-name">{{melodclamations[2].name}}</div>  
                <div class="melodclamations-arrows-wrapper">
                    <img class="arrows" src="data/assets/images/arrows.png" alt="Стрелки">
                </div>
            </div>
        </div>

        <img class="md-notes-left" src="data/assets/images/md-notes-left.png" alt="Ноты">
        <img class="md-notes-right" src="data/assets/images/md-notes-right.png" alt="Ноты">
        <img class="md-notes-bottom" src="data/assets/images/md-notes-bottom.png" alt="Ноты">
        <div class="md-triangle"></div>
        <img class="music-players" src="data/assets/images/music-players.png" alt="Музыканты">
    </div>
 
    <div id="comics" class="comics-block">
        <div class="comics-label">Комикс в разработке...</div>
        <img class="comics-watches" src="data/assets/images/comics-watches.png" alt="Часы">
    </div>

    <div id="books">
        <div class="books-header">
            <div class="books-label">Книги</div>
        </div>

        <div class="books-content">
            <img class="books-cat" src="data/assets/images/books-smart-cat.png" alt="Кот ученый">
            <div class="books-wrapper">
                <a href="{{books[0]}}" target="_blank">
                    <div class="book">
                        <div class="book-image-container">
                            <img class="unforgetable" src="data/assets/images/book-unforgetable.png" alt="Незабываемая">
                        </div>
                        <div class="book-name">Анфоргэтэбэл'бл</div>
                        <div class="book-author">Шпагин А.В.</div>
                    </div>
                </a>
                <a href="{{books[1]}}" target="_blank" style="margin-left: 100px">
                    <div class="book">
                        <div class="book-image-container">
                            <img class="unbelievable" src="data/assets/images/book-unbelievable.png" alt="Незабываемая">
                        </div>
                        <div class="book-name">Унбиливибэл</div>
                        <div class="book-author">Шпагин А.В.</div>
                    </div>
                </a>       
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-line">
            <img class="young-boys" src="data/assets/images/young-boys.png" alt="Парни">
        </div>
        <div class="social">
            <a href="{{social.youtube}}" target="_blank">
                <img src="data/assets/images/youtube.png" alt="YouTube">
            
            <a href="{{social.facebook}}" target="_blank">
                <img src="data/assets/images/facebook.png" alt="facebook">
            </a>
            <a href="{{social.vk}}" target="_blank">
                <img src="data/assets/images/vk.png" alt="vk">
            </a> 
        </div>
    </div>

    <div id="single-song-player" ng-show="isPlayerActive">
        <img data-amplitude-song-info="cover_art_url"/>
        <div class="bottom-container">
            <progress class="amplitude-song-played-progress" id="song-played-progress"></progress>

            <div class="time-container">
                <span class="current-time">
                <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
                </span>
                <span class="duration">
                <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
                </span>
            </div>

            <div class="control-container">
                <div class="amplitude-play-pause" id="play-pause"></div>
                <div class="meta-container">
                <span data-amplitude-song-info="name" class="song-name"></span>
                <span data-amplitude-song-info="artist"></span>
                </div>
            </div>
        </div>
    </div>

</body> 
</html>