@font-face {
    font-family: klinik; 
    src: url(../data/assets/fonts/klinik.ttf); 
}

@font-face {
    font-family: izvestija; 
    src: url(../data/assets/fonts/izvestija.ttf); 
}

html{
    height: 100%;
}

body{
    font-family: Ubuntu !important;
    font-style: normal;
    font-weight: 500;

    height: auto !important;
}

html *{
    outline: none !important;
}

h1{
    font-size: 68px;
    font-family: 'B52', arial;
    color: white;
}

@keyframes rotate360 {
    to { transform: rotate(360deg); }
}

@keyframes move-move {
    0% { transform: rotate(-40deg); }
    20% { transform: rotate(-14deg); }
    40% {transform: rotate(-24deg);}
    70% {transform: rotate(-10deg);}
    100% { transform: rotate(-40deg); } 
} 

/* =============================
    Кнопка для открытия меню
 ===============================*/

 .top-menu {
    position: fixed;

    top: -40px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    height: 80px;
    width: 80px;

    border: 2px solid;
    border-radius: 50%;

    background-color: white;

    z-index: 50;

    max-height: 100px;
    -webkit-transition: max-height linear 0.5s;
    -moz-transition: max-height linear 0.5s;
    -o-transition: max-height linear 0.5s;
    transition: max-height linear 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.top-menu.ng-hide-add,
.top-menu.ng-hide-remove {
    -webkit-transition : 0.7s ease-in-out top;
    -moz-transition    : 0.7s ease-in-out top;
    -ms-transition     : 0.7s ease-in-out top;
    -o-transition      : 0.7s ease-in-out top;
    transition         : 0.7s ease-in-out top;

    top: -40px;
}

.top-menu.ng-hide {
    -webkit-transition : 0.7s ease-in-out top;
    -moz-transition    : 0.7s ease-in-out top;
    -ms-transition     : 0.7s ease-in-out top;
    -o-transition      : 0.7s ease-in-out top;
    transition         : 0.7s ease-in-out top;

    top: -100px;
}

.menu-arrow{
    margin-top: 30px;
    width: 30px;
    transform: rotate(180deg);
}

/* =============================
    Открывающаяся менюшка
 ===============================*/

 .big-top-menu{
    position: fixed;

    top: -266px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    height: 630px;
    width: 630px;

    border: 2px solid #F76DAA;
    border-radius: 50%;

    background-color: #F76DAA;

    overflow: hidden;
    z-index: 51;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 .top-disco-container{
     border: 4px solid white;
     border-radius: 50%;

     height: 600px;
     width: 600px;

     display: flex;
     justify-content: center;
     align-items: center;
 }

 .top-disco-container .substract{
     z-index: 52;
 }

 .white-circle{
     height: 60px;
     width: 60px;

     background-color: white;
     border: 1px solid;
     border-radius: 50%;

     display: flex;
     justify-content: center;
     align-items: center;

     z-index:54;

     box-shadow: 3px 3px 0px black;
     cursor: pointer;
 }

 .top-disco-trimmer{
     position: absolute;

     border: 0;
     border-bottom: 4px;

     border-style: solid;
     border-color: white;

     background-color: #F76DAA;

     width: 593px;
     height: 100px;

     top: 175px;
     left: 0;
     right: 0;

     margin-left: auto;
     margin-right: auto;  
 }
 
 .top-main-label{
    position: absolute;
    top: 360px;
    width: 210px;
    z-index: 53;
}
 
.top-disco-container > .menu-items-container {
    top: 410px;
}

.top-disco-container > .menu-items-container > .menu-item{
    padding: 2px;
}
 
.big-top-menu.ng-hide-add,
.big-top-menu.ng-hide-remove {
    -webkit-transition : 0.7s ease-in-out top;
    -moz-transition    : 0.7s ease-in-out top;
    -ms-transition     : 0.7s ease-in-out top;
    -o-transition      : 0.7s ease-in-out top;
    transition         : 0.7s ease-in-out top;

    top: -266px;
}

.big-top-menu.ng-hide-add .menu-item:hover,
.big-top-menu.ng-hide-remove .menu-item:hover{
    color: white;
    cursor: default;
} 

.big-top-menu.ng-hide {
    -webkit-transition : 0.7s ease-in-out top;
    -moz-transition    : 0.7s ease-in-out top;
    -ms-transition     : 0.7s ease-in-out top;
    -o-transition      : 0.7s ease-in-out top;
    transition         : 0.7s ease-in-out top;

    top: -630px;
}

.menu-block{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-self: center; 
    align-items: center;

    height: calc(1546px - 400px); 
    overflow: hidden;

    background-image: url(../data/assets/images/wood.png);
    background-size: 300px;

}   

.disco-container{
    position: relative;
    height: calc(1546px - 400px); 
}

.disco-img{
    position: absolute;
    top: -238px;
    height: 1200px;
    left: -600px;

    animation: 4s rotate360 infinite linear;
}

.menu-circle{

    position: absolute;
    top: 50px;

    overflow: hidden;

    background-color: #F76DAA;

    height: 630px;
    width: 630px;

    border: 1px solid #F76DAA;
    border-radius: 50%;

    display: flex;
    justify-content: center; 
    align-items: center;

}

.circle-white-border{
    width: 590px;
    height: 590px;
    border: 4px solid white;
    border-radius: 50%;
}

.circle-border-trimmer{
    position: absolute;
    height: 267px;
    width: 593px;
    border-top-left-radius: 305px;
    border-top-right-radius: 305px;
    border: 4px solid #F76DAA;
    top: 10px;
    border-bottom-color: white;
    background-color: #F76DAA;
    box-sizing: border-box;
}

.center-circle{
    position: absolute;

    height: 50px;
    width: 50px;

    border-radius: 50%;

    background-color: white;

    top: 0;
    bottom: 0;
    left: 0;
    right:0;

    margin: auto;
}

.substract{
    position: absolute;

    border-radius: 50%;

    top: 0;
    bottom: 0;
    left: 0;
    right:0;
 
    border-width: 0;
    border-style: solid;

    margin: auto;
    transform: rotate(45deg);
}

.substract-internal{
    height: 196px;
    width: 196px;
}

.substract-external{
    height: 202px;
    width: 202px;
}

.substract-internal-left{
    border-bottom-width: 2px;
    border-color: rgba(255,255,255,0.3);
}

.substract-internal-right{
    border-top-width: 2px;
    border-color: rgba(0,0,0,0.3);
}

.substract-external-left{
    border-bottom-width: 2px;
    border-color: rgba(0,0,0,0.3);
} 
 
.substract-external-right{
    border-top-width: 2px;
    border-color: rgba(255,255,255,0.3);
}
 
.image-33-3{
    position: absolute;
    left: 80px;
}

.main-label{
    position: absolute;
    top: 215px;
}

.heads-image{
    position: absolute;
    top: 15px;
    width: 290px;
    transform: rotate(6.42deg);
}

.menu-items-container{
    position: absolute;
    top: 360px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item{
    color: white;
    font-size: 19px;
    padding: 6px;

    cursor: pointer;
}

.menu-item:hover{
    color: black; 
}

.anonses-recommended{
    position: absolute;
    top: 300px;
    right: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.rounded-notify{
    color: white;
    text-align: center;


    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    width: 160px;
    height: 28px;

    border: 1px solid white;
    border-radius: 20px;
    border-bottom-width: 3px;
    border-right-width: 3px;

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.rounded-notify:hover{
    text-decoration: underline;
}

.rounded-notify > img{
    margin-right: 5px;
}

.to-bottom-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 445px;

    cursor: pointer;
}

.to-bottom-container:hover *{
    border-width: 2px;
}

.to-bottom{
    height: 20px;
    width: 20px;

    transform: rotate(45deg);

    border: 1px solid white;
    border-top: 0;
    border-left: 0;

    margin-bottom: -12px;
}

.prickly-thing-wrapper{
    min-width: 1600px; 
    position: absolute;
    top: 0;
}
 
.prickly-thing{
    position: absolute;
    top: -625px;
    right: -165px;
    height: 1200px;
    animation: 6s move-move infinite linear;
}

.video-block{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    overflow-y: hidden;
}

.video-header{
    position: relative;
}

.video-header div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.video-header h2{
    font-family: klinik;
    font-size: 65px;
    text-align: center;
    letter-spacing: 0.05em;

    z-index: 2;
    color: #FFFFFF;

    margin: 0;
    margin-bottom: 8px;

    cursor: default;
}

.video-background{
    width: 100vw;
    min-width: 1600px;

    z-index: 1;
}

.video-content-wrapper{
    width: 100%;
    min-width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
.video-images-container{
    position: relative;
    width: 200px;
    min-width: 200px; 
    min-height: 800px;
}
 
.video-content{
    min-width: 800px;
    max-width: 800px;
    margin: 50px 0;

    display: flex;
    flex-direction: column; 

}

.big-babina{
    height: 280px;

    position: absolute;

    top: -120px;
    left: -100px;
}

.left-video-lent{
    position: absolute;
    left: 50px;
    height: 800px; /* Сделать автоподсчет высоты*/
}

.video-photos{
    position: absolute;
    bottom: -50px;
    height: 150px;
    transform: rotate(9deg);
}

.small-babina{
    position: absolute;
    height: 175px;

    right: -40px;
    bottom: 550px;
}

.right-video-lent{
    position: absolute;
    height: 530px;

    bottom: 100px;
    right: 0px;

    transform: rotate(180deg);
}

.camera{
    position: absolute;
    height: 150px; 

    bottom: 0;
    right: 0;
}

.video-content-row{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.video-item{
    width: 150px;
    height: 130px;

    border: 4px solid #F76DAA;
    border-radius: 10px;
    
    position: relative;
    cursor: pointer; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.video-item:hover{
    transform: rotate(5deg);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.3);
}

.video-item-image-wrapper{
    height: 100px;
    width: 130px; 

    border: 2px solid #F76DAA;
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.video-item-image-wrapper img{
    height: 100%;
}

.video-item:before{
    box-sizing: border-box;
    content: '';

    width: 140px;

    position: absolute;
    left: 2px;
    bottom: -10px;

    background-color: #F76DAA;

    border: 5px solid #F76DAA;
    border-radius: 3px;

    
}

.tooltipable{
    position: relative;
}
 
.tooltipable:hover .user-tooltip{
    display: block;
}
  
.user-tooltip { 
    position: absolute;
    bottom: -45px;
    padding: 10px;  

    display: none;

    white-space: nowrap;
} 
 
.tracks{
    padding-top: 30px;
    height: 1200px;
    border-style: solid;
    border-width: 20px 0;

    background-color: #F4F76D;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.tracks-header{
    position: relative;
    border-bottom: 2px solid black;
    height: 100px;
    width: 720px;
}

.tracks-label{
    position: absolute; 

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 300px;
}

.tracks-content-wrapper{

    display: flex;
    justify-content: space-between;

    position: relative;
    width: 100%;
    height: 100%;
}
 
.tracks-images-container{
    height: 100%;
    position: relative;

    width: 200px;
    min-width: 0;
}

.tracks-content{
    min-width: 720px;
    width: 720px;
    padding: 50px 0;
}

.audio-item{
    position: relative;
    width: 285px;
    cursor: pointer;
}

.audio-item-content{
    width: 100%;
    height: 100px;

    border: 2px solid black;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: start;

    z-index: 1;
} 

.audio-item:hover .audio-item-content{
    transform: rotate(-2.16deg);
}

.audio-item:before{
    content: '';
    background-color: white;
    height: 66px;
    width: 66px;

    position: absolute;
    right: -60px;

    border: 2px solid black;

    top: 0;
    bottom: 0;

    margin: auto 0;

    box-shadow: 5px 4px 1px -2px;

    z-index: 2;
}

.audio-item-active .audio-item-play{
    display: none;
}

.audio-item-active .audio-item-pause{
    display: block;
}

.audio-item-active .audio-item-content{
    transform: rotate(-2.16deg);
}

.audio-item-play{

    position: absolute;
    
    right: -43px;
    top: 0;
    bottom: 0;

    margin: auto 0;

    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid black;

    z-index: 2;
}

.audio-item-pause{
    display: none;
}

.audio-item-pause:before,
.audio-item-pause:after{
    content: '';
    position: absolute;
    
    top: 0;
    bottom: 0;

    margin: auto 0;

    height: 25px;
}

.audio-item-pause:before{
    width: 20px;

    background-color: black;
    right: -37px;
    z-index: 3;
}
    
.audio-item-pause:after{
    width: 5px;
    background-color: white;
    right: -30px;
    z-index: 4;
} 

.audio-item-header{
    margin-top: 10px;
    margin-left: 15px;

    font-size: 18px;
    font-weight: bold;
}

.audio-item-description{
    margin-top: 8px;
    margin-left: 15px;
    line-height: 18px;
    font-size: 14px;
}

.donkey-image{
    position: absolute;
    top: -100px;
    left: -170px;

    transform: scale(-1, 1);
}

.left-first-note{
    position: absolute;

    top: 470px;
    left: 60px;
}

.left-second-note{
    position: absolute;
     
    top: 570px;
    left: 100px;


}

.left-third-note{
    position: absolute;

    top: 600px;
    left: 30px;
}

.left-fourth-note{
    position: absolute;

    top: 705px;
    left: 85px;
}

.left-fif-note{
    position: absolute;
    top: 820px;
    left: 25px; 
}

.left-sixth-note{
    position: absolute;
    top: 920px;
    left: 150px; 
}

.right-first-note{
    position: absolute;
    
    top: -70px;
    right: 108px;
}

.right-second-note{
    position: absolute;

    top: 40px;
    right: 50px;

    transform: rotate(-155deg);
}

.right-third-note{
    position: absolute;

    top: 165px;
    left: 75px;
}

.right-fourth-note{
    position: absolute;

    top: 255px;
    right: 125px;
}

.right-fif-note{
    position: absolute;

    top: 335px;
    right: 25px;
}

.right-sixth-note{
    position: absolute;

    top: 450px;
    right: 100px;

    transform: rotate(-128deg);
    width: 36px;
}

.right-seventh-note{
    position: absolute;

    top: 575px;
    right: 50px;

    transform: rotate(-38deg);
    width: 26px;
}

.right-eighth-note{
    position: absolute;

    top: 640px;
    right: 90px;
}

.croco-image{
    position: absolute;

    bottom: -110px;
    right: 0;

    height: 425px;
}

.mashups{
    display: flex;
    flex-direction: column; 
    align-items: center;

    background-color: #E1CCB9;
 
    border: 0 solid black;
    border-bottom: 10px;

    padding-top: 80px;;
}

.mashups-header{
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid black;
    padding-bottom: 40px;

    width: 720px;
}

.mashups-label{
    height: 40px;
}

.mashups-content{
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 0 5px;
    padding-top: 50px;
    margin-bottom: 100px;
}

.mashups-top{
    display: flex;
    height: 470px;
    width: 710px;
}

.mashups-center{
    height: 225px;
    margin: 10px 0; 

    display: flex;
    justify-content: space-around;
} 

.mashups-bottom{
    height: 225px;

    display: flex;
    justify-content: space-around;
}

.mashups-item{
    height: 225px;
    width: 170px;

    display: flex;
    flex-direction: column;

    cursor: pointer;
    position: relative;

    perspective: 1000;
}

 .mashups-item:hover .mashups-front{
    transform: rotateY(180deg);
}

.mashups-item:hover .mashups-back{
    transform: rotateY(0deg);
}

.mashups-front, .mashups-back {
    position: absolute;
    top: 0;
    left: 0;

    height: 225px;
    width: 170px;

    transition: 0.6s;
    transform-style: preserve-3d;

    border: 2px solid black;
    box-shadow: 4px 4px 1px 0px;

    backface-visibility: hidden;

    background-color: #D1C3C6;
}

.mashups-front{
    z-index: 2;
    padding: 0 5px;
}

.mashups-back{
    transform: rotateY(180deg);
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mashups-item.active img.mashups-item-image{
    display: block !important;
}

.mashups-item img.mashups-item-image{
    height: 20px;
    width: 20px;
    padding: 0;

    display: none;

    position: absolute;
    bottom: 7px;
    right: 7px;
}

.mashups-item.active .mashups-front,
.mashups-item.active .mashups-back{
    background-color: lightblue;
}

.mashups-description{
    margin: 10px 10px 5px 10px;

    font-size: 14px;
    line-height: 20px;
}

.mashups-date{
    margin-left: 10px;

    color: #898989;
    font-size: 12px;
}

.mashups-item img{
    height: 145px;
    width: 145px;

    padding: 10px;
}

.mashups-item-image-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mashups-top-left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mashups-top-left-container .mashups-top-row:first-of-type{
    margin-bottom: 10px;
}

.mashups-top-row{
    display: flex;
}

.mashups-top-row .mashups-item:last-of-type{
    margin: 0px 10px;
}

.surfer{
    height: 460px;
    width: 350px;

    border: 2px solid black;
    box-sizing: border-box;

    box-shadow: 4px 4px 1px 0px;
}

.mashups-center .mashups-item{
    margin-right: 10px;
}

.mashups-center .mashups-item:last-of-type{
    margin-right: 0;
}

.mashups-bottom .mashups-item:first-of-type{
    margin: 0 10px;
}

.disk-eater{
    height: 225px;
    width: 350px; 

    border: 2px solid black;
    box-sizing: border-box;

    box-shadow: 4px 4px 1px 0px;
}

.melodclamations{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 

    border: 20px solid black;
    border-left: 0;
    border-right: 0;

    overflow: hidden;
}

.melodclamations-label{
    margin: 50px 0;
    height: 40px;
}

.melodclamations-content{
    z-index: 5;
    display: flex;
    flex-direction: column;
    min-width: 720px; 

    margin-bottom: 200px;
}

.melodclamations-content .melodclamations-row:first-of-type{
    margin-left: 0;
}

.melodclamations-content .melodclamations-row:last-of-type{
    margin-left: 200px;
}

.melodclamations-row{
    display: flex;
    align-items: center;

    margin-bottom: 70px; 
    margin-left: 100px;

    cursor: pointer;
}

.active .melodclamations-name{
    color: #F76DAA;
}

.active .parallelogram,
.active .melodclamations-arrows-wrapper{
    background-color: #F76DAA;
}

.melodclamations-row:hover .melodclamations-name{
    color: #F76DAA;
}

.melodclamations-row:hover .parallelogram,
.melodclamations-row:hover .melodclamations-arrows-wrapper{
    background-color: #F76DAA;
}

.parallelogram{
    height: 70px;
    width: 24px;

    border: 2px solid black;
    
    transform: skewX(30deg);
    box-shadow: 2px 2px 0 0;
}

.melodclamations-name{
    margin: 0 50px; 

    font-size: 74px;
    line-height: 80px;

    letter-spacing: 0.05em;

    color: white; 
    text-shadow: black 5px 2px 0, 
                 black -2px 2px 0, 
                 black 2px -2px 0;
}

.melodclamations-arrows-wrapper{
    width: 68px;
    height: 58px;
    border: 2px solid black;

    box-shadow: 2px 2px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.md-notes-left{
    position: absolute;
    top: -600px;
    left: 0;

    z-index: 1;
}

.md-notes-right{
    position: absolute;
    top: -550px;
    right: 0;

    z-index: 1;
}

.md-notes-bottom{
    position: absolute;

    bottom: -300px;

    z-index: 1;

    transform: rotate(-6deg);
    width: 1300px;
}

.md-triangle{
    position: absolute;
    left: -200px;
    bottom: 0;

    z-index: 2;

    border: 300px solid transparent;
    border-bottom: 300px solid #F76DAA;
    border-left: 300px solid #F76DAA;
}

.music-players{
    position: absolute;

    bottom: -50px;
    left: -50px;
    
    height: 400px;

    z-index: 3;
}

.comics-block{
    height: 470px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #92FFBD;

    border-bottom: 20px solid black;
}

.comics-label{
    font-family: klinik;
    font-size: 30px;
    text-align: center;

    z-index: 2;

    margin: 0;
    margin-bottom: 8px;
    margin-top: 30px;
}

.comics-watches{
    margin-top: 20px;
    border: 1px solid black;
    height: 280px;
}

.books-block{
    margin-bottom: 10px;
}

.books-header{
    margin: 70px 0;

    margin-left: calc(50% - 75px);

    display: flex;
    flex-direction: column;

    position: relative;

    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;

}

.books-header::before{
    position: absolute;
    bottom: -7px;
    content: '';

    width: 100%;
    border: 1px solid black;
}

.books-label{
    font-family: izvestija;
    font-size: 62px;
    text-transform: uppercase;
}

.books-content{
    background-color: black;
    position: relative;

    height: 400px;

    margin-bottom: 400px;
}

.books-cat{
    position: absolute;
    left: 0;
    bottom: -100px;

    height: 660px;
}

.books-wrapper{
    margin-left: calc(50% - 90px);
    height: 100%;

    display: flex;
    align-items: center;
}

.books-wrapper .book:first-of-type{
    margin-left: 0;
}

.book-image-container{
    height: 270px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
    box-shadow: 8px 8px 0 0 white;
}

.book{
    display: flex;
    flex-direction: column;

    color: white;
    cursor: pointer;
    margin-left: 100px;
}

.book .unforgetable{
    transform: rotate(90deg);
    height: 180px;
    width: 270px;
}

.book .unbelievable{
    height: 270px;
    width: 180px;
}

.book-name{
    font-size: 18px;
}

.book-author{
    font-size: 14px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-line{
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #F76DAA;

    margin-bottom: 100px;
}

.young-boys{
    height: 328px;
    transform: rotate(-19.76deg);
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
}

.social{
    display: flex;
    align-items: center;

    margin-bottom: 150px;

    z-index: 2;
}

.social img{
    margin: 30px;
    height: 52px;

    cursor: pointer;
}

md-dialog{
    background-color: transparent;
    overflow: visible !important;

    height: 0;
    width: 0; 
}

.md-dialog-container{
    background-color: rgba(255,255,255,0.4) !important;
}

/* Video modal SECTION */

.tv-container{
    position: relative;
    height: 495px;
    width: 726px;
}

.tv{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -363px;
    width: 900px;

    margin: auto;

    pointer-events: none;
}

.tv-black-background{
    position: absolute;
    width: 600px;
    height: 500px;

    top: 0;
    left: -200px;
    bottom: 0;

    margin: auto;

    background-color: black;
}

.tv-frame{
    position: absolute;

    height: 480px;
    width: 680px;
    left: -526px;
    top: -65px;
    bottom: 0;
    right: 0;

    margin: auto;

    border: 40px solid black;
}

.tv-btn-previous{
    width: 50px;
    position: absolute;
    left: 0;
    right: -382px;
    top: 275px;
    bottom: 0;

    margin: auto;

    cursor: pointer;

    transform: rotate(90deg);
}

.tv-btn-previous:hover{
    border: 3px solid rgba(255,255,255,0.7);
    border-radius: 50%;
    box-sizing: content-box;
}

.tv-btn-next{
    width: 50px;

    position: absolute;
    left: 0;
    right: -382px;
    top: 54px;
    bottom: 0;
    
    margin: auto;
    cursor: pointer;
}

.tv-btn-next:hover{
    border: 3px solid rgba(255,255,255,0.7);
    border-radius: 50%;
    box-sizing: content-box;
}

.tv-arrow-right{

    position: absolute;
    left: 0;
    right: -452px;
    top: 52px;
    bottom: 0;

    margin: auto;
}

.tv-arrow-left{
    position: absolute;
    left: 0;
    right: -313px;
    top: 274px;
    bottom: 0;

    margin: auto;
    transform: rotate(180deg);
}

.video-modal{
    position: absolute;
    top: 0;
    right: 0;
    left: -25vw;
    bottom: 0;
    margin: auto;

    height: 800px;
    width: 930px;

    padding: 50px 100px;

    overflow: hidden;
    background-color: white;

    box-shadow: 10px 10px 0 0 !important;
    border-radius: 0 !important;
    border: 1px solid black !important;
}

.vm-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 40px;
}

.vm-header-label{
    font-size: 24px;
}

.close-image{
    cursor: pointer;
}

.vm-content{
    height: 350px;
    position: relative;
}

.vm-content iframe{
    position: absolute;
    height: 100%;
    width: 100%;
}

.about-video{
    font-size: 24px;
    margin: 25px 0;
}

.video-description{
    height: 69px;

    font-size: 14px;
    padding-bottom: 25px;

    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.vm-actions{
    margin-top: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vm-action{ 
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 45px;
    width: 110px;

    font-size: 20px; 

    border: 1px solid black;
    box-shadow: 2px 2px 0 0;

    cursor: pointer;
}

.vm-left-arrow{
    margin-left: 10px;
}

.vm-right-arrow{
    margin-right: 10px;
    transform: rotate(180deg);
}

/* Announcements SECTION */

.announcements-description{
    font-size: 14px;
    padding-bottom: 25px;
 
    height: auto;
}

.announcements-image-wapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcements-image-wapper img{
    max-width: 100%;
}

/* AMPLITUDE JS SECTION */

/*
  2. Components
*/
div.control-container {
    margin-top: 10px;
    padding-bottom: 10px; }
    div.control-container div.amplitude-play-pause {
      width: 74px;
      height: 74px;
      cursor: pointer;
      float: left;
      margin-left: 10px; }
    div.control-container div.amplitude-play-pause.amplitude-paused {
      background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/single-song/play.svg");
      background-size: cover; }
    div.control-container div.amplitude-play-pause.amplitude-playing {
      background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/single-song/pause.svg");
      background-size: cover; }
    div.control-container div.meta-container {
      float: left;
      width: calc(100% - 84px);
      text-align: center;
      color: white;
      margin-top: 10px; }
      div.control-container div.meta-container span[data-amplitude-song-info="name"] {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        color: #fff;
        display: block; }
      div.control-container div.meta-container span[data-amplitude-song-info="artist"] {
        font-family: "Open Sans", sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: #fff;
        display: block; }
    div.control-container:after {
      content: "";
      display: table;
      clear: both; }
  
  /*
    Small only
  */
  @media screen and (max-width: 39.9375em) {
    div.control-container div.amplitude-play-pause {
      background-size: cover;
      width: 64px;
      height: 64px; }
    div.control-container div.meta-container {
      width: calc(100% - 74px); } }
  /*
    Large Only
  */
  div.time-container {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
    color: #fff;
    height: 15px; }
    div.time-container span.current-time {
      float: left;
      margin-left: 5px; }
    div.time-container span.duration {
      float: right;
      margin-right: 5px; }
  
  /*
    Large Only
  */
  progress.amplitude-song-played-progress {
    background-color: #313252;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    display: block;
    cursor: pointer;
    border: none; }
    progress.amplitude-song-played-progress:not([value]) {
      background-color: #313252; }
  
  progress[value]::-webkit-progress-bar {
    background-color: #313252; }
  
  progress[value]::-moz-progress-bar {
    background-color: #00a0ff; }
  
  progress[value]::-webkit-progress-value {
    background-color: #00a0ff; }
  
  /*
    3. Layout
  */
  div.bottom-container {
    background-color: #202136;
 }
  
  /*
    Large Only
  */
  div#single-song-player {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;

    position: fixed;
    bottom: 0;

    z-index: 100;
 }

div#single-song-player img[data-amplitude-song-info="cover_art_url"] {
width: 100%;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}
